body {
    margin: 0;
    font-family: Arial;
}

ul {
    margin: 0;
    padding: 15px;
}


div {
    box-sizing: border-box; 
}

ul {
    list-style: none;
}

h1, h2, h3, p {
    margin: 0px;
    padding: 0px;
}


p {
    text-align: justify;
    font-size: 20px;
}

footer {
    text-align: center;
    color: white;
    background-color: rgb(22, 23, 27);
    margin-top: 30px;
    padding: 80px;
}

footer>p {
    text-align: center;
}

button {
    padding: 5px;
}

button { 
    cursor: pointer; 
}

.navbar {
    position: fixed;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    background-color: rgba(22, 23, 27, 0.5);
    padding: 10px;
}

.navbar-element {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}

.navbar-element>a {
    color: white;
    text-decoration: none;
}

.header-color {
    /* background-color: #004eff30; */
    text-align: left;
    padding-top: 300px;
    padding-left: 75px;
    height: 750px;    
}

.header {    
    background-image: url("photo.JPG");    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 750px;    
    margin-bottom: 100px;
}

.header-name {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(22, 23, 27, 0.5);
    color: white;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    margin-right: 10%;
}

.header-name-text {
    margin-top: 10px;
}

.link-buttons {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
    text-align: center;
}

.portfolio-section {
    margin-top: 100px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 200px;
}

.portfolio-section>h2 {
    margin-bottom: 15px;
}

.portfolio-section>h1 {
    font-size: 40px;
    margin-bottom: 64px;
    text-align: center;
    color: #004eff;
}

.projects {
    margin-top: 40px;
    text-align: center;   
}

#projects-section {
    margin-left: 15%;
    margin-right: 15%;
}

.project {
    display: grid;
    grid-template-columns: 2fr 3fr;        
    width: 100%;
    /* margin-top: 150px; */
    margin-bottom: 150px;
    vertical-align: top;
}

.project-info>h2 {
    color: #e114ce;
}

.project-image>img {
    width: 100%;
    margin: 0px;
    border-radius: 5px;
    border: 1px solid black;
}

.project-info {
    padding: 16px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    align-items: center;
}

.project-info>p {
    margin: 20px;
}

.primary-project-button {
    color: white;
    background-color: #004eff;
    border: none;
    border-radius: 5px;
}

.secondary-project-button {
    border: 2px solid #004eff;
    color: #004eff;
    background-color: white;
    border-radius: 5px;
}

.primary-project-button,
.secondary-project-button {
    padding: 10px;
    margin: 5px;
    font-size: 5mm;
}

.contact-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.project-buttons {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}

.contact-link,
.contact-link>p {
    text-align: center;
}


:target {
    scroll-margin-top: 80px;
}

/* Responsive design */
@media only screen and (max-width: 1200px) {
    .header {
        background-position: 75%;
    }

    .header-color {
        padding-top: 450px;
        padding-left: 40px;
    }

    .portfolio-section {
        margin-left: 8%;
        margin-right: 8%;
    }

    #projects-section {
        margin-left: 8%;
        margin-right: 8%;
    }

    .project {
        display: grid;
        grid-template-columns: 1fr;        
        width: 100%;
        margin-top: 150px;
        margin-bottom: 150px;
        vertical-align: top;
    }

    .contact-buttons {
        grid-template-columns: 1fr;
        row-gap: 64px;
    }
}